.intro {
  position: relative;
  background-image: url("../images/intro-bg.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .intro {
    height: 100vh;
  }
}

@media (min-width: 769px) {
  .intro {
    height: 500px;
  }
}
