#contact {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--color-light-bg);
}

.contact {
  margin-top: 3em;
}

.contact__tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--font-size-larger);
}

/* 라디오 버튼 커스터마이즈 */
input[type="radio"] {
  all: unset;
  display: inline-block;
  padding: 0.8em 4em;
  background-color: white;
  cursor: pointer;
}

input[type="radio"]:checked {
  color: white;
  background: var(--color-main);
}
#ct_1 {
  border-radius: 12px 0 0 12px;
}
#ct_1::after {
  content: "연락처 보기";
}
#ct_2 {
  border-radius: 0 12px 12px 0;
}
#ct_2::after {
  content: "메시지 남기기";
}

@media (max-width: 768px) {
  input[type="radio"] {
    padding: 0.8em 2em;
  }
  #ct_1::after {
    content: "연락처";
  }
  #ct_2::after {
    content: "메시지";
  }
}

@media (min-width: 769px) {
  #contact {
    grid-column: 1 / -1;
  }
}
